/* stylelint-disable declaration-no-important */
.mobile-inline {
  display: inline !important;

  @media screen and (--media-pc) {
    display: none !important;
  }
}

.mobile-hide {
  display: none !important;

  @media screen and (--media-pc) {
    display: inline !important;
  }
}

[v-cloak] {
  display: none;
}

[data-whatintent="mouse"],
[data-whatintent="touch"] {
  *:focus {
    outline: none;
  }
}
/* stylelint-enable declaration-no-important */
