/* stylelint-disable declaration-no-important */
.mobile-inline {
  display: inline !important;
  @media (--media-pc) {
    display: none !important;
  }
}

.mobile-hide {
  display: none !important;
  @media (--media-pc) {
    display: inline !important;
  }
}

[v-cloak] {
  display: none;
}

[data-whatintent="mouse"]:focus,
[data-whatintent="touch"]:focus {
  outline: none;
}
/* stylelint-enable declaration-no-important */
